.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1024px;
    width: auto;
    background-color: lightcyan;

}


.btnbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.output {
    margin-top: 150px;
    flex: 0 0 auto;
    height: 150px;
    width: 800px;
    border: 3px solid black;
    font: bolder;
    font-size: 28px;
    background-color: lightslategray;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    height: 200px;
    width: 200px;
    border: 3px solid black;
    background-color: grey;
    font: bold;
    color: crimson;
    font-size: 28px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scores {
    display: flex; 
    flex-direction: row;
    flex 1;
    font-size: 24px;
    font: bold;
    align-items: center;
    justify-content: center;
}

.player {
    padding: 10px;
    height: 50px;
    width: 100px;
    border: 1px solid black;
    background-color: aquamarine;
}

.cpu {
    padding: 10px;
    height: 50px;
    width: 100px;
    border: 1px solid black;
    background-color: aquamarine;
    margin-right: 100px;
}